* {
    font-family: "Verdana", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "header header"
    "sidebar navbar"
    "sidebar main"
}

header {
    top: 0;;
    position: sticky;
    grid-area: header;
    background-color: #dcedff;
    color: black;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid #000;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: end;
    gap: 6px;
   
}

.header img {
    height: 24px;
    width: auto;
    align-self: flex-start;
}

.header h1 {
    font-size: 16px;
    align-self: flex-end;
}

nav {
    top: 36.64px;;
    position: sticky;
    grid-area: navbar;
    background-color: #e9eaec;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-buttons {
    display: flex;
    /* background: #e6e6e6; */
    /* padding-top: 5px; */
    border-radius: 5px;
    /* align-content: flex-end; */
    gap: 5px;
}

nav .nav-buttons a {
    text-decoration: none;
    color: blue;
    font-size: 8px;
    padding: 5px 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 3px;
    font-weight: bold;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
    
}

nav .nav-buttons a:hover {
    background: #f8f8f8;
}

nav .nav-buttons .active {
    background: white;
    color: red;
    font-weight: bold;
}

nav .nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .search-bar {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* margin-right: 10px; */
}

nav .stats-buttons {
    display: flex;
    background: #e6e6e6;
    border-radius: 5px;
    align-content: flex-end;
}

nav .stats-buttons a {
    text-decoration: none;
    color: blue;
    font-size: 8px;
    padding: 5px 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 3px;
}

nav .stats-buttons .message-icon {
    /* font-size: 10; */
    color: orange;
}

nav .stats-buttons a:hover {
    background: #f8f8f8;
}

aside {
    height: calc(100vh - 36.64px);
    top: 36.64px;
    position: sticky;
    grid-area: sidebar;
    background-color: #eff8ff;
    color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* transition: width 0.3s ease-in-out; */
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    font-size: 8px;
}

aside ul li a {
    color: #61615F;
}

aside ul li:hover a {
    background-color: #ffffff;
    color: #fe5b1d;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

aside a {
    padding: 6px 20px 6px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

aside .sidebar-box  a {
    padding-left: 6px;
}

aside .sidebar-box  p {
    padding-left: 6px;
}

aside .sidebar-box {
    background-color: #dcedff;
    padding: 6px 20px 6px 16px;
    margin-top: 10px;
    width: 75%;
}

main {
    grid-area: main;
    background-color: #fbfbfb;
    color: black;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "article-list article";

    
}

/* POST LIST IN MAIN */

main .post-list {
    background: white;
    /* padding: 10px; */
    /* margin: 10px; */
    /* border-radius: 5px; */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    border-right: 1px solid #000;
}

main .post-list ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

main .post {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ddd;
}

main ol li:hover article {
    background-color: #fef3ef;
}

main .post-rank {
    font-size: 14px;
    color: gray;
    width: 25px;
    text-align: center;
}

main .post-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

main .post-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40px;
    font-size: 14px;
}

main .post-votes input {
    display: none;
}

.upvote, .downvote {
    color: gray;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.2s ease, transform 0.2s ease;
}

.vote-up, .vote-down {
    display: none;
    font-size: 10px;
}

.vote-up:checked + .upvote {
    color: orange;
}

.vote-down:checked + .downvote {
    color: blue;
}

.upvote:hover, .downvote:hover {
    transform: scale(1.2);
    color: darkgray;
}

main .post-thumbnail {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
}

main .post-thumbnail img {
    max-width: 100%;
    height: auto;
}

.upvote, .downvote {
    cursor: pointer;
    font-size: 24px;
    transition: color 0.2s;
}


main .post-votes .score {
    font-weight: bold;
    color: gray;
}

main .post-content {
    flex: 1;
    /* padding-left: 10px; */
    display: flex;
    flex-direction: column;
    gap: 3px;
}

main .post-content .post-source {
        color: #909090;
        font-size: 9px;
        margin-left: 5px;
        font-weight: lighter;
    }

main .post h2 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

main .post h2 a {
    text-decoration: none;
    color: #322ff9;
}

main .post h2 a:hover {
    text-decoration: underline;
}

main .post-meta {
    font-size: 12px;
    color: gray;
}

main .post-comments {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main .post-source {
    font-size: 6px;
    color: grey;
    font-weight: lighter;
}

main .post-comments button {
    background: none;
    border: none;
    color: #909090;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
}

main .post-comments button:hover {
    text-decoration: underline;
}

main .list-changer-button {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    padding-right: 10px;
}

main .change-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
    color: black;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

main .change-button:hover {
    background: linear-gradient(to bottom, #e0e0e0, #d0d0d0);
}

main .change-button img {
    width: 12px;
    height: 12px;
}

/* POST PROPER IN MAIN */
main .post-proper {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


@media(max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        width: 60px;
    }
    
    aside .text {
        display: none;
    }

    aside li {
        justify-content: end;
    }

    .toggle-btn {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        background: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

    .show {
        display: block;
    }

    @media (max-width: 800px) {
        .toggle-btn {
            display: block;
        }
    }
}